# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# FAISS / Vector Store
faiss_index/
vectorstore/
*.faiss
*.pkl

# Logs and temporary files
*.log
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db